<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>惟医-疾病百科</title>
    <script src="/js/JQuery.js"></script>
    <script src="/js/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <!--<script src="/js/global.js" ></script>-->
    <link href="/js/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/color.css" rel="stylesheet"/>
    <link href="/css/common.css" rel="stylesheet">
    <link href="/css/global.css" rel="stylesheet"/>
    <link href="/css/homepage.css" rel="stylesheet"/>
    <script src="/js/homepage.js"></script>
</head>
<body>
<!--可重用代码区-->
<div th:replace="_fragments::nav"></div>

<div id="third" class="width-main center">
    <div class="navi bg-lightgray">
        <div class="bg-darkblue navi-item text-white text-center">百科</div>
    </div>

    <div class="page-header">
        <li><h3>老年房颤的抗凝治疗与注意事项</small></h3>
            <p>时间：2019-12-31 </p>
        </li>

    </div>
    <div class="page-header">
        <li><h3>老年房颤的抗凝治疗与注意事项</small></h3>
            <p>时间：2019-12-31 </p>
        </li>

    </div>
    <div class="page-header">
        <li><h3>老年房颤的抗凝治疗与注意事项</small></h3>
            <p>时间：2019-12-31 </p>
        </li>
    </div>
    <div class="page-header">
        <li><h3>老年房颤的抗凝治疗与注意事项</small></h3>
            <p>时间：2019-12-31 </p>
        </li>

    </div>
    <div class="page-header">
        <li><h3>老年房颤的抗凝治疗与注意事项</small></h3>
            <p>时间：2019-12-31 </p>
        </li>

    </div>
    <div class="page-header">
        <li><h3>老年房颤的抗凝治疗与注意事项</small></h3>
            <p>时间：2019-12-31 </p>
        </li>

    </div>


</div>

<div th:replace="_fragments::foot"></div>

</body>
</html>