<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>
        医生管理后台
    </title>
    <script src="/js/JQuery.js"></script>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/css/x-admin.css" media="all">

</head>
<body>
<div class="x-nav">
            <span class="layui-breadcrumb">
              <a><cite>首页</cite></a>
              <a><cite>会员管理</cite></a>
              <a><cite>基本设置</cite></a>
            </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon"
                                                                        style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title">
            <li class="layui-this">我的信息</li>
            <li>认证医院</li>
            <li>修改密码</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            名字：
                        </label>
                        <div class="layui-input-block">
                            <input type="text" readonly th:value="${session.doctor.dname}" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            性别：
                        </label>
                        <div class="layui-input-block">
                            <input type="text" readonly th:value="${session.doctor.sex}"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            电话：
                        </label>
                        <div class="layui-input-block">
                            <input type="text" readonly th:value="${session.doctor.dtel}"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            居住地：
                        </label>
                        <div class="layui-input-block">
                            <input type="text" readonly th:value="${session.doctor.daddress}"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            身份证件：
                        </label>
                        <div class="layui-input-block">
                            <input type="text" readonly th:value="${session.doctor.cardtype}"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            证件号码:
                        </label>
                        <div class="layui-input-block">
                            <input type="text" readonly th:value="${session.doctor.cardid}"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            认证医院
                        </label>
                        <div class="layui-input-block">
                            <input type="text" readonly
                                   th:value="${session.doctor.hospital}!=null?${session.doctor.hospital.hname}:'为认证，请进行认证'"
                                   class="layui-input">
                        </div>
                    </div>
                </form>
                <div style="height:100px;"></div>
            </div>
            <div class="layui-tab-item">

                <form class="layui-form layui-form-pane" action="" th:action="@{/doctor/update/{did}(did=${session.doctor.did})}" method="post">
                    <input type="hidden" th:value="${session.doctor.did}" name="did">
                    <input type="hidden" th:value="${session.doctor.hospital.hid}" name="hid">
                    <input type="hidden" th:value="${session.doctor.type.tid}" name="tid">
                    <div class="layui-form-item" th:if="${session.doctor.hospital}==null">
                        <label class="layui-form-label">选择医院</label>
                        <div class="layui-input-inline">
                            <select id="sel1"   >
                                <option>选择省份</option>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <select id="sel2" class="form-control" ><option>选择城市</option><option id="440100">广州市</option><option id="440200">韶关市</option><option id="440300">深圳市</option><option id="440400">珠海市</option><option id="440500">汕头市</option><option id="440600">佛山市</option><option id="440700">江门市</option><option id="440800">湛江市</option><option id="440900">茂名市</option><option id="441200">肇庆市</option><option id="441300">惠州市</option><option id="441400">梅州市</option><option id="441500">汕尾市</option><option id="441600">河源市</option><option id="441700">阳江市</option><option id="441800">清远市</option><option id="441900">东莞市</option><option id="442000">中山市</option><option id="445100">潮州市</option><option id="445200">揭阳市</option><option id="445300">云浮市</option></select>
                        </div>
                        <div class="layui-input-inline">
                            <select id="sel3" name="hid"><option>选择医院</option><option value="1">中山大学附属第三医院天河院区</option><option value="2">南方医科大学南方医院</option><option value="3">广东省中医院大德路总院</option><option value="4">南方医科大学珠江医院</option></select>
                        </div>
                    </div>
                    <div class="layui-form-item" th:if="${session.doctor.hospital}==null">
                        <label class="layui-form-label">选择科室</label>
                        <div class="layui-input-inline">
                            <select lay-verify="required" name="tid" >
                                <option>选择科室</option>
                                <option th:each="type:${types}" th:value="${type.tid}">[[${type.tname}]]</option>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item" th:if="${session.doctor.hospital}!=null">
                        <label class="layui-form-label">医院：</label>
                        <div class="layui-input-block">
                            <input type="text" readonly th:value="${session.doctor.hospital.hname}"  class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item" th:if="${session.doctor.hospital}!=null">
                        <label class="layui-form-label">科室：</label>
                        <div class="layui-input-block">
                            <input type="text" readonly th:value="${session.doctor.type.tname}"  class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">擅长：</label>
                        <div class="layui-input-block">
                            <input type="text" name="Dgood" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input" th:value="${session.doctor.dgood}">
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">简介：</label>
                        <div class="layui-input-block">
                            <textarea  placeholder="请输入内容" name="Dintroduction" class="layui-textarea" th:text="${session.doctor.dintroduction}"></textarea>
                        </div>
                    </div>

                    <input type="submit" value="保存" style="width: 100px;height: 40px;background-color: #5cb85c">
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/lib/layui/layui.js" charset="utf-8"></script>
<script src="/js/x-layui.js" charset="utf-8"></script>
<script type="text/javascript">
    $(function () {   //页面加载执行ajax封装的get请求方法调用省级查询全部
        $.get("/one", function (reult) {
            $.each(reult, function (index, item) {
                var row = "<option id='" + item.code + "'>" + item.name + "</option>"    //把返回结果的省级对象的编号code作为id值，name作为文本值
                $("#sel1").append(row)
            })
        })
    })
    $("#sel1").change(function () {  //省级下拉框选项改变时触发，先清空市区级下拉框
        $("#sel2").empty();
        $("#sel2").append("<option>请选择</option>")
        $("#sel3").empty();
        $("#sel3").append("<option>请选择</option>")
        var provinceCode = $(this).find("option:checked").attr("id");  //取省级的id值，即省级的code编号
        if (provinceCode == null || provinceCode == "") {
            return false;
        }
        $.get("/two", {"provinceCode": provinceCode}, function (result) {   //使用$.get()方法走查询省对应的市级，把省级的code作为参数传过去
            $.each(result, function (index, item) {
                var row = "<option id='" + item.code + "'>" + item.name + "</option>"  //同样把返回结果的市级对象的编号code作为id值，name作为文本值
                $("#sel2").append(row)
            })
        })

    })
    $("#sel2").change(function () {  //当市级下拉框改变时，触发的事件，与上面的无异
        $("#sel3").empty();
        $("#sel3").append("<option>请选择</option>")
        var cityCode = $(this).find("option:checked").attr("id");
        if (cityCode == null || cityCode == "") {
            return false;
        }
        $.get("/four", {"cityCode": cityCode}, function (result) {
            $.each(result, function (index, item) {
                var row = "<option id='" + item.hid + "'>" + item.hname + "</option>"  //同样把返回结果的市级对象的编号code作为id值，name作为文本值

                $("#sel3").append(row)
            })
        })

    })
</script>
<script>
    layui.use(['element', 'layer', 'form'], function () {
        $ = layui.jquery;//jquery
        lement = layui.element();//面包导航
        layer = layui.layer;//弹出层
        // form = layui.form()
        //
        //
        // //监听提交
        // form.on('submit(*)', function (data) {
        //     console.log(data);
        //     //发异步，把数据提交给php
        //     layer.alert("保存成功", {icon: 6});
        //     return false;
        // });

    })
</script>
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();

</script>
</body>
</html>